{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% block title %}Crear Form{% endblock %}
{% load static %}
{% block content %}
<div class="container p-lg-5 no-gutters p-0">
  <div class="no-guttee container p-lg-3 p-3">
    <h1 class="text-center titlesuperior colortitle pb-2">EDITAR EL TIPO DE TRABAJO</h1>
    <article class="pb-3 fontI" >
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input name="" id="" class="btn btn-primary fontII" type="submit" value="Enviar Informacion"> || 
            <a name="" id="" class="btn btn-danger fontII" href="{% url 'listart' %}" role="button">Cancelar</a>
        </form>
      <br>
    </article>
  </div> 
</div><br>

{% endblock %}
