@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

::-webkit-scrollbar {
  width: 1px;
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
  height: 300px;
}

/* Thumb del scrollbar (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  background: #f0f0f0;
}
.fon-stilo {
  padding-inline-start: 30px;
  border-radius: 18px;
  background: #f0f0f0;
  box-shadow: inset 19px 19px 23px #dddddd,
            inset -19px -19px 23px #ffffff;
  z-index: 12;
  position: relative;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
.imgr {
  width: 350px;
  height: 200px;
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.no-gutte{
  border-radius: 18px;
  background: #f0f0f0;
  box-shadow: inset 19px 19px 23px #dddddd,
            inset -19px -19px 23px #ffffff;
}
.subtitulo{
  font-size: 54px;
  font-family: "Anton";
  
  color: #120750;
}

.img-bottom-left {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 820px;
  height: 85%;

  border-top-right-radius: 20px; /* Ajusta el valor según tus necesidades */
  border-bottom-right-radius: 20px;
}

@media (max-width: 867.98px) {
  .imgnone {
    display: none !important;
  }
}
.font {
  font-family: "Anton";
}
.fontf {
  font-family: "Lora";
  color: #1c3b3f;
}
