{% extends "dashboard.html" %}
{% block title %}Listar Grupos{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid fontII mt-1 no-gutters py-5 px-lg-5 px-2">
    <div class="p-lg-4 p-0 no-gutte">
        <h2 class="titlegeneral  colortext pb-3">Lista de Grupos <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
          </svg>
        </h2>
        <a href="{% url 'crear_grupo' %}" class="btn btn-outline-primary btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
          </svg> Crear Nuevo Grupo</a>
        <div class="">
            <table class="table ">
                <thead class="">
                    <tr>
                        <th>GRUPOS</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grupo in grupos %}
                        <tr>
                            <td data-label="GRUPOS ">{{ grupo.name }}</td>
                            <td data-label="ACCIONES ">
                                <a href="{% url 'actualizar_grupo' grupo.id %}" class="btn btn-outline-success btn-sm">Actualizar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div><br>
{% endblock %}
